footer.site-footer {
    background-color: $color__primary;
    padding: 30px 0;

    .widget-area {
        section {
            border-top: none;
        }
    }

    ul.menu {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;

         li {
            margin-left: 0;
            padding-left: 0;
        }
    }

    a {
        color: #fff;
    }
}