.header {
    padding: 60px;
    color: #fff;

    .container {
        border-bottom: 0;
    }

    h1 {
        color: $color__text-light;
        margin: 0 0 23px;
    }

    .headline {
        margin-bottom: 22px;
    }

    .pullquote {
        width: 370px;
        font-size: 17px;
        margin: 27px auto;

        .quote-author-image {
            float: left;
            padding: 15px 10px 0 0;
        }

        .quote-author {
            float: left;
            display: block;
            width: 50%;
            margin-top: 29px;
        }

        .quote-author-title {
            float: left;
            font-size: small;
        }
    }

    .reviews {
        .review {
            float: left;
            width: 20%;
            text-align: center;
        }

        .review-text {
            color: #656565;
            font-size: 12px;
            width: 68%;
            font-weight: bold;
            margin: 0 auto 10px;
        }

        .review-logo {
            img {
                height: 19px;
            }
        }
    }
}

.bundles {

    .bundle {
        width: 98%;
        border: 1px solid #ddd;
        border-top: 10px solid $color__grey;
        border-radius: 4px;
        padding: 38px 35px 120px;
        position: relative;
        display: block;
        color: $color__text-main;
        transition: all 0.3s ease;
        font-size: 16px;

        &:hover {
            cursor: pointer;
            color: $color__text-main;
            text-decoration: none !important;
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
            margin-top: -2px;
        }

        &.ribbon {
            border: 1px solid #ddd;
            border-top: 10px solid $color__secondary;

            .bundle-ribbon {
                position: absolute;
                top: -10px;
                right: 0;
            }

            .bundle-cta button {
                background-color: $color__secondary;
            }
        }

        .bundle-title {
            text-align: center;
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        .bundle-value {
            text-align: center;
            color: $color__grey;
            font-size: 14px;
        }

        .bundle-price {
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin-bottom: -12px;

            span {
                font-size: 18px;
                vertical-align: text-top;
                margin-top: 4px;
                position: relative;
                top: 6px;
                left: -3px;
            }
        }

        .bundle-callout {
            text-align: center;
            color: $color__secondary;
        }

        .bundle-features {
            margin-top: 10px;

            ul {
                //margin: 0;
                //padding: 0;
                //list-style-type: none;
                //list-style-position: inside;
                list-style: none;
                margin-left: 0;
                padding-left: 1em;
                text-indent: -1em;

                li {
                    text-indent: -20px;

                    &:before {
                        font-family: 'icomoon' !important;
                        content: "\ea10";
                        text-indent: -5px;
                        margin-right: 4px;
                    }
                }

                ul {
                    padding-left: 15px;

                    li {
                        text-indent: -5px;

                        &:before {
                            content: "-";
                            text-indent: -5px;
                        }
                    }
                }
            }
        }

        .bundle-cta button {
            display: block;
            width: 80%;
            position: absolute;
            bottom: 30px;
            color: $color__text-light;
            background-color: $color__grey;
            font-size: 16px;
            font-weight: bold;
            padding: 15px;
            border-radius: 6px;
        }
    }
}

.bundle-footer-text {
    margin: 30px auto;
    text-align: center;
}

.row.intro {
    text-align: center;
}
