.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    //margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.page-title {
    background-color: #ffffff;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;

    h1 {
        padding: 10px 0 0 5px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

#crumbs {
    font-size: 12px;
    color: #999;
    padding-left: 5px;
    padding-bottom: 5px;
}

article {
    //box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.15);
    background: #fff;
    //margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
}

.thumb {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

