a {
	color: $color__link;
    transition: all 0.2s ease;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a.btn-primary {
    background-color: $color__primary;
    border: none;
    color: #fff;

    &:hover {
        background-color: $color__secondary;
    }

	&:visited {
		color: #fff;
	}
}
