.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
        margin-left: 0;
    }
}

.widget-area {

    section {
        border-top: 1px dashed;
    }
}

.home .widget-area {
    margin-top: 0;
    padding-top: 0;
}
