// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Source Serif Pro', serif;
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    color: $color__text-heading;
	clear: both;
    line-height: 1.2em;
}

h1 {
    font-size: 47px;

    &.entry-title {
        font-size: 32px;
    }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}
