body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

label {
	font-size: 16px;
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot?1yatyr');
	src:  url('fonts/icomoon/icomoon.eot?1yatyr#iefix') format('embedded-opentype'),
	url('fonts/icomoon/icomoon.ttf?1yatyr') format('truetype'),
	url('fonts/icomoon/icomoon.woff?1yatyr') format('woff'),
	url('fonts/icomoon/icomoon.svg?1yatyr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e986";
}
.icon-checkmark:before {
	content: "\ea10";
}


@import "headings";

@import "copy";
