/* --------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.5; }

label {
  font-size: 16px; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?1yatyr");
  src: url("fonts/icomoon/icomoon.eot?1yatyr#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?1yatyr") format("truetype"), url("fonts/icomoon/icomoon.woff?1yatyr") format("woff"), url("fonts/icomoon/icomoon.svg?1yatyr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e986"; }

.icon-checkmark:before {
  content: "\ea10"; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold !important;
  color: #000;
  clear: both;
  line-height: 1.2em; }

h1 {
  font-size: 47px; }
  h1.entry-title {
    font-size: 32px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 20px; }

p {
  margin-bottom: 1.5em; }

strong {
  color: #000; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 18px; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #ffffff;
  /* Fallback for when there is no custom background color defined. */
  background-color: #f1f1f1;
  background-repeat: repeat; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
  max-width: 1200px; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #f57706;
  transition: all 0.2s ease; }
  a:visited {
    color: #f57706; }
  a:hover, a:focus, a:active {
    color: #00b67a; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

a.btn-primary {
  background-color: #f57706;
  border: none;
  color: #fff; }
  a.btn-primary:hover {
    background-color: #00b67a; }
  a.btn-primary:visited {
    color: #fff; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }
  .widget ul {
    margin-left: 0; }

.widget-area section {
  border-top: 1px dashed; }

.home .widget-area {
  margin-top: 0;
  padding-top: 0; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.navbar {
  margin-bottom: 0; }

.hamburger {
  float: right;
  position: relative;
  top: 13px;
  display: none; }
  .hamburger:hover {
    cursor: pointer; }

.nav-wrap.navbar {
  background: #f57706;
  top: 30px;
  height: 80px;
  z-index: 9; }

.navbar {
  background: #f57706;
  height: 55px;
  z-index: 9;
  border-radius: 0;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.15); }
  .navbar a {
    cursor: pointer; }
  .navbar .search {
    padding-top: 3px; }
  .navbar .dropdown-menu {
    background: #f57706;
    border: none; }
    .navbar .dropdown-menu li {
      width: 100%; }
  .navbar .navbar-right .dropdown-menu {
    left: 0;
    right: auto; }
  .navbar .navbar-brand img {
    height: auto;
    position: relative;
    top: 0px;
    width: 150px; }
  .navbar li a {
    color: #fff;
    font-size: 16px;
    transition: all 0.2s ease;
    padding: 17px 15px; }
    .navbar li a:hover {
      background-color: #ff9100;
      color: #fff; }
  .navbar .dropdown-menu li a {
    padding: 15px 30px 15px 15px; }
  .navbar .dropdown-submenu {
    position: relative; }
  .navbar .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px; }
  .navbar .dropdown-submenu:hover {
    cursor: pointer; }
  .navbar .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ffeac7;
    margin-top: 7px;
    margin-right: -18px; }
  .navbar .dropdown-submenu:hover > a:after {
    border-left-color: #fff; }
  .navbar .dropdown-submenu.pull-left {
    float: none; }
  .navbar .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px; }
  .navbar > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.3s ease;
    color: #00b67a; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #ffeac7;
  color: #fff;
  border: none; }

.dropdown:hover > .dropdown-menu {
  display: block; }

a.mm-btn_next {
  background-color: #ffeac7 !important; }

@media screen and (max-width: 767px) {
  .hamburger {
    display: block; }

  .navbar {
    top: 0;
    height: 80px; }
    .navbar .navbar-brand img {
      top: 12px; }
    .navbar .nav-toggle {
      background: #ffeac7;
      margin-top: 6px;
      padding: 15px; }
      .navbar .nav-toggle .icon-bar {
        background: #ffffff; }
    .navbar .nav .open > a, .navbar .nav .open > a:focus, .navbar .nav .open > a:hover {
      background: #ffeac7; }
    .navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
      background: #ffeac7; }
    .navbar .navbar-nav .open .dropdown-menu .dropdown-header, .navbar .navbar-nav .open .dropdown-menu > li > a {
      background: #ffeac7; }
    .navbar .navbar-nav > li > a {
      padding: 15px; } }
.admin-bar .sf-header-search {
  top: 32px; }

.sf-header-search {
  display: none;
  background: #fff;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 2010; }
  .sf-header-search form {
    float: left;
    height: 80px;
    width: 100%; }
  .sf-header-search input[type="text"] {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 32px;
    outline: none; }
    .sf-header-search input[type="text"]:focus {
      outline: none; }
  .sf-header-search .header-search-close {
    position: absolute;
    right: 26px;
    top: 18px;
    font-size: 30px;
    color: #ccc; }
    .sf-header-search .header-search-close:hover {
      cursor: pointer; }

.search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: hidden;
  display: none; }

.sticky {
  display: block; }

.updated:not(.published) {
  display: none; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.page-title {
  background-color: #ffffff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px; }
  .page-title h1 {
    padding: 10px 0 0 5px;
    margin-top: 15px;
    margin-bottom: 5px; }

#crumbs {
  font-size: 12px;
  color: #999;
  padding-left: 5px;
  padding-bottom: 5px; }

article {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 30px;
  margin-bottom: 30px; }

.thumb {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 5px; }

.header {
  padding: 60px;
  color: #fff; }
  .header .container {
    border-bottom: 0; }
  .header h1 {
    color: #fff;
    margin: 0 0 23px; }
  .header .headline {
    margin-bottom: 22px; }
  .header .pullquote {
    width: 370px;
    font-size: 17px;
    margin: 27px auto; }
    .header .pullquote .quote-author-image {
      float: left;
      padding: 15px 10px 0 0; }
    .header .pullquote .quote-author {
      float: left;
      display: block;
      width: 50%;
      margin-top: 29px; }
    .header .pullquote .quote-author-title {
      float: left;
      font-size: small; }
  .header .reviews .review {
    float: left;
    width: 20%;
    text-align: center; }
  .header .reviews .review-text {
    color: #656565;
    font-size: 12px;
    width: 68%;
    font-weight: bold;
    margin: 0 auto 10px; }
  .header .reviews .review-logo img {
    height: 19px; }

.bundles .bundle {
  width: 98%;
  border: 1px solid #ddd;
  border-top: 10px solid #85959d;
  border-radius: 4px;
  padding: 38px 35px 120px;
  position: relative;
  display: block;
  color: #404040;
  transition: all 0.3s ease;
  font-size: 16px; }
  .bundles .bundle:hover {
    cursor: pointer;
    color: #404040;
    text-decoration: none !important;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    margin-top: -2px; }
  .bundles .bundle.ribbon {
    border: 1px solid #ddd;
    border-top: 10px solid #00b67a; }
    .bundles .bundle.ribbon .bundle-ribbon {
      position: absolute;
      top: -10px;
      right: 0; }
    .bundles .bundle.ribbon .bundle-cta button {
      background-color: #00b67a; }
  .bundles .bundle .bundle-title {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 12px; }
  .bundles .bundle .bundle-value {
    text-align: center;
    color: #85959d;
    font-size: 14px; }
  .bundles .bundle .bundle-price {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: -12px; }
    .bundles .bundle .bundle-price span {
      font-size: 18px;
      vertical-align: text-top;
      margin-top: 4px;
      position: relative;
      top: 6px;
      left: -3px; }
  .bundles .bundle .bundle-callout {
    text-align: center;
    color: #00b67a; }
  .bundles .bundle .bundle-features {
    margin-top: 10px; }
    .bundles .bundle .bundle-features ul {
      list-style: none;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em; }
      .bundles .bundle .bundle-features ul li {
        text-indent: -20px; }
        .bundles .bundle .bundle-features ul li:before {
          font-family: 'icomoon' !important;
          content: "\ea10";
          text-indent: -5px;
          margin-right: 4px; }
      .bundles .bundle .bundle-features ul ul {
        padding-left: 15px; }
        .bundles .bundle .bundle-features ul ul li {
          text-indent: -5px; }
          .bundles .bundle .bundle-features ul ul li:before {
            content: "-";
            text-indent: -5px; }
  .bundles .bundle .bundle-cta button {
    display: block;
    width: 80%;
    position: absolute;
    bottom: 30px;
    color: #fff;
    background-color: #85959d;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border-radius: 6px; }

.bundle-footer-text {
  margin: 30px auto;
  text-align: center; }

.row.intro {
  text-align: center; }

footer.site-footer {
  background-color: #f57706;
  padding: 30px 0; }
  footer.site-footer .widget-area section {
    border-top: none; }
  footer.site-footer ul.menu {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; }
    footer.site-footer ul.menu li {
      margin-left: 0;
      padding-left: 0; }
  footer.site-footer a {
    color: #fff; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*# sourceMappingURL=style.css.map */
