$color__primary: #f57706;
$color__primary_light: #ff9100;
$color__secondary: #00b67a;
$color__highlight: #042bdc;
$color__lowlight: #ffeac7;
$color__grey: #85959d;

$color__background-body: #ffffff;
$color__background-screen: #ffffff;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__primary;
$color__link-visited: $color__primary;
$color__link-hover: $color__secondary;
$color__text-main: #404040;
$color__text-heading: #000;
$color__text-light: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

